<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mixology Master</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>

<body class="index">
    <nav class="navbar fixed-top navbar-dark navbar-expand-lg" style="background-color: black;">
        <a class="navbar-brand" href="/"><img src="logo_scalable.png" class="logo"><img src="mixology_master.png" class="mixology_master"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Photo Master</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Upload Your Own</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li> -->
    <!-- </ul>
     <ul class="navbar-nav mr-right">
     <li class="nav-item">
    <p class="nav-link">{{username}}</p>
    </li> -->
     <!-- <li class="nav-item">
    <form class="nav-link" action ='/logout' method="GET">
    <input type="{{type}}"  class="{{button}}" value="{{logout}}">
    </form>
    </li> -->
    </ul>
    <ul class="navbar-nav mr-right desktop-remove">
      <li class="nav-item">
          <a class="nav-link" href="/register">
          {{register}}
          </a>
      </li>
        <li class="nav-item dropdown">
            <a class="{{link}}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{login}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <form class="form-horizontal" action="/login" method="POST" accept-charset="UTF-8">
                    <input class="form-control-login" type="text" name="username" placeholder="Username" size="25" >
                    <input class="form-control-login" type="password" name="password" placeholder="Password" size="25" >
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                </form>
            </div>
        </li>
        <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="/getCocktails" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Cocktail Name" aria-label="Search" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </li>
    </ul>
</div></nav>

    <div id='main-container' class='mobile-remove' >
        <div id='login'>
            <h3>Returning user? Please login:</h3>
            <form class="form-horizontal " action="/login" method="POST" accept-charset="UTF-8">
                <input class="form-control-login" type="text" name="username" placeholder="Username" size="25">
                <input class="form-control-login" type="password" name="password" placeholder="Password" size="25">
                <input class="btn btn-primary" type="submit" name="submit" value="Submit">
            </form>
            <p>{{error}}</p>
        </div>

        <div id="search">
            <h3>No login? No problem.</h3>
            <h3>Search for cocktails from public source:</h3>
            <form action="/getCocktails" method="POST">
                <input class="form-control-login" type="text" name="query" placeholder="Enter Cocktail Name:" size="25">
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        <div id = 'register'>
            <h3>New to Mixology? Create an account:</h3>
            <h3><a href="/register">Register</a></h3>
        </div>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</html>
